 *{
    margin:0;
    padding: 0;
    font-family: sans-serif;
 }

body{
    background-color: #333;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins',sans-serif;
}
.container{
    height: 300px;
    width: 200px;
    background-color: #222222;
    border:1px solid yellow;
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-right: 150px;
    box-shadow:
  3px 3px rgb(148, 117, 117),
  -1em 0 0.4em olive;
}
h3,h4{
    color:yellow;

}
.circle{
    margin:7px auto;
    width: 40px;
    height:40px;
    border:5px solid rgba(255,255,255,0.2);
    border-radius:50%;
    border-top-color:yellow;
    animation:spin 1s linear  infinite;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}
