body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background-color: #c8e8e9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout{
    display: flex;
    padding: 30px;
    background-color: #fff;
    width: 45%;
    border-radius: 6px;
    box-shadow: 0px 0px 6px rgba(114, 110, 110, 0.8);
}

.layout .information{ 
    padding: 20px;  
}


.layout .information i{
    font-size: 30px;
    color: #3e2093;
    padding-top: 10px;
    padding-bottom: 10px;
}

.layout .information  p{
    color: #afafb6;
    font-size: 10px ;
}
.information .address{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 0px;
}

.information .phone{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 0px;
}

.information .email{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 0px;
}

.layout .contact{
   /* background-color: rgb(125, 125, 180);*/
    padding: 0px 20px;
}


.layout .contact .text span{
    color: #3e2093;
    letter-spacing: 0.1px;
    font-size: 25px;
    font-weight: bold;
}

.layout .contact .text p{
 color: #afafb6;
  font-size: 15px;
  padding-right: 40px;
  margin-right: 40px;
}

.layout .contact .form{
   margin-top: 20px;

}

.contact .form input{
    padding: 10px 5px;
     width: 80%;
     margin-top: 10px;
     border: none;
     background-color: #F0F1F8;
     border-radius: 6px;
}

.contact .form textarea{
    margin-top: 10px;
     width: 80.2%;
     height: 80px;
     background-color: #F0F1F8;
     border: none;
     border-radius: 6px;
}

.contact .form button{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
   background-color: #3e2093;
    color: #fff;
}




